body {
    margin: 0;
}
.robot {
    margin: 20px auto;
    width: 390px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.head {
    display: flex;
    justify-content: space-around;
    width: 230px;
    height: 215px;
    background-color: rgba(255, 255, 255, 0);
    border: 10px black solid;
    border-radius: 250px 250px 0 0;
    transition: .25s ease-in-out;
    position: relative;
}
.head:hover {
    width: 390px;
}
.eyes {
    display: flex;
    position: absolute;
    left: 20px;
    width: 250px;
    height: 225px;
}
.eye{
    margin: 140px 25px 0;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 10px black solid;
    border-radius: 50%;
}
.body {
    display: flex;
    margin-top: 10px;
    height: 300px;
    border-radius: 0% 0% 20% 20%;
    width: 230px;
    background-color: white;
    border: 10px black solid;
    position: relative;
    z-index: 1000;
}
.arm {
    display: flex;
    height: 200px;
    width: 40px;
    margin: 0 -10px;
    background-color: rgba(0, 0, 0, 0);
    border: 10px black solid;
    border-radius: 60px;
}
.arm.left{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -195px;
    margin-top: -120px;
    transform-origin: center 30px;
    transition: all .5s ease-in-out;
}
.arm.left:hover {
    transform: rotate(180deg);
}
.arm.right{
    position: absolute;
    right: 50%;
    top: 50%;
    margin-right: -195px;
    margin-top: -120px;
    transform-origin: center 30px;
    transition: all .5s ease-in-out;
}
.arm.right:hover {
    transform: rotate(-180deg);
}
.leg {
    display: flex;
    height: 150px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 10px black solid;
    border-radius: 40px;
}
.leg.left {
    position: absolute;
    top: 500px;
    left: 50%;
    margin-left: -70px;
    z-index: 1;
    transition: .25s ease-in-out;
}
.leg.left:hover {
    transform: rotate(25deg);
}
.leg.right {
    position: absolute;
    top: 500px;
    right: 50%;
    margin-right: -70px;
    transition: .25s ease-in-out;
    z-index: 1;
}
.leg.right:hover {
    transform: rotate(-25deg);
}